In [3]:
#import libraries
import mysql.connector
import pandas as pd
import numpy as np

In [68]:

import pandas as pd
import mysql.connector  

conn= mysql.connector.connect (host ="127.0.0.1", user = "root", password = "bike" , database = "dataspark")
cursor = conn.cursor()

 # Customer data

In [11]:
create1 = '''CREATE TABLE IF NOT EXISTS Customer (
    CustomerKey INT NOT NULL,
    Gender VARCHAR(255) NOT NULL,
    Name VARCHAR(255) NOT NULL,
    City VARCHAR(255) NOT NULL,
    StateCode VARCHAR(255) NULL, 
    State VARCHAR(255) NULL,
    ZipCode VARCHAR(255) NOT NULL, 
    Country VARCHAR(255) NOT NULL,
    Continent VARCHAR(255) NOT NULL,
    Birthday DATE 
)'''

                 

# Execute table creation
cursor.execute(create1)

In [14]:
insert1 = """INSERT INTO Customer(
                  CustomerKey,
                  Gender,
                  Name,
                  City,
                  StateCode,
                  State,
                  ZipCode,
                  Country,
                  Continent,
                  Birthday)
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""


# Convert DataFrame to list of tuples
data = df_customer.values.tolist()

# Execute batch insert
cursor.executemany(insert1, data)

# Commit the transaction using the connection object
conn.commit()

# Print number of rows inserted
print(cursor.rowcount, "rows were inserted.")

# Close the cursor and connection
cursor.close()
conn.close()

15266 rows were inserted.

# Products data set

In [26]:

create2 = '''CREATE TABLE IF NOT EXISTS Products (
    ProductKey INT NOT NULL,
    ProductName VARCHAR(255) NOT NULL,
    Brand VARCHAR(255) NOT NULL,
    Color VARCHAR(255) NOT NULL,
    UnitCostUSD VARCHAR(255) NULL, 
    UnitPriceUSD VARCHAR(255) NULL,
    SubcategoryKey INT NOT NULL, 
    Subcategory VARCHAR(255) NOT NULL,
    CategoryKey INT NOT NULL,
    Category VARCHAR(255) NOT NULL
    
)'''
          

# Execute table creation
cursor.execute(create2)

In [27]:
insert2 = """INSERT INTO Products(
                  ProductKey,
                  ProductName,
                  Brand,
                  Color,
                  UnitCostUSD,
                  UnitPriceUSD,
                  SubcategoryKey,
                  Subcategory,
                  CategoryKey,
                  Category
                  )
                VALUES(%s,%s, %s, %s,%s, %s, %s,%s, %s, %s)"""


# Convert DataFrame to list of tuples
data = df_products.values.tolist()

# Execute batch insert
cursor.executemany(insert2, data)

# Commit the transaction using the connection object
conn.commit()

# Print number of rows inserted
print(cursor.rowcount, "rows were inserted.")

# Close the cursor and connection
cursor.close()
conn.close()

2517 rows were inserted.

# sales data

In [39]:
create3 = '''CREATE TABLE IF NOT EXISTS Sales (
    OrderNumber INT NOT NULL,
    LineItem INT NOT NULL,
    OrderDate VARCHAR(255) NOT NULL,
    CustomerKey INT NOT NULL,
    StoreKey INT NOT NULL, 
    ProductKey INT NOT NULL,
    Quantity INT NOT NULL, 
    CurrencyCode VARCHAR(255) NOT NULL
   
)'''     

# Execute table creation
cursor.execute(create3)

In [40]:
insert3 = """INSERT INTO Sales (
                  OrderNumber,
                  LineItem,
                  OrderDate,
                  CustomerKey,
                  StoreKey,
                  ProductKey,
                  Quantity,
                  CurrencyCode
                )
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"""



# Convert DataFrame to list of tuples
data = df_sales.values.tolist()

# Execute batch insert
cursor.executemany(insert3, data)

# Commit the transaction using the connection object
conn.commit()

# Print number of rows inserted
print(cursor.rowcount, "rows were inserted.")

# Close the cursor and connection
cursor.close()
conn.close()

62884 rows were inserted.

# Store Data

In [54]:
 


create4 = '''CREATE TABLE IF NOT EXISTS Store (
    StoreKey   INT NOT NULL,
    Country    VARCHAR(255) NOT NULL,
    State VARCHAR(255) NOT NULL,
    SquareMeters VARCHAR(255) NOT NULL, 
    OpenDate VARCHAR(255) NOT NULL
    
   
)'''     

# Execute table creation
my_cursor.execute(create4)

In [56]:
insert4 = """INSERT INTO Store (
                  StoreKey,
                  Country,
                  State,
                  SquareMeters,
                  OpenDate
                )
                VALUES(%s, %s, %s, %s, %s)"""




# Convert DataFrame to list of tuples
data = df_stores.values.tolist()

# Execute batch insert
cursor.executemany(insert4, data)

# Commit the transaction using the connection object
conn.commit()

# Print number of rows inserted
print(cursor.rowcount, "rows were inserted.")

# Close the cursor and connection
cursor.close()
conn.close()

67 rows were inserted.

# Exchange rates

In [69]:
 

create5 = '''CREATE TABLE IF NOT EXISTS Exchange_Rates (
    Date   VARCHAR(255) NOT NULL,
    Currency VARCHAR(255) NOT NULL,
    Exchange VARCHAR(255) NOT NULL
)'''

# Execute table creation
cursor.execute(create5)

In [73]:
insert5 = """INSERT INTO Exchange_Rates(
                  Date,
                  Currency,
                  Exchange
                  )
                VALUES(%s, %s, %s)"""


# Convert DataFrame to list of tuples
data = df_exchange.values.tolist()

# Execute batch insert}
cursor.executemany(insert5, data)

# Commit the transaction using the connection object
conn.commit()

# Print number of rows inserted
print(cursor.rowcount, "rows were inserted.")

# Close the cursor and connection
cursor.close()
conn.close()

11215 rows were inserted.

In [ ]:
use dataspark;
#1Get total sales by product
SELECT p.ProductName, SUM(s.Quantity) AS Total_Sales
FROM sales s
JOIN products p ON s.ProductKey = p.ProductKey
GROUP BY p.ProductName;

#2Find the most sold product


SELECT p.ProductName, SUM(s.Quantity) AS Total_Sales
FROM sales s
JOIN products p ON s.ProductKey = p.ProductKey
GROUP BY p.ProductName
ORDER BY Total_Sales DESC;

#3Get the total quantity sold by store and product
SELECT st.StoreKey, p.ProductName, SUM(s.Quantity) AS Total_Quantity
FROM sales s
JOIN products p ON s.ProductKey = p.ProductKey
JOIN store st ON s.StoreKey = st.StoreKey
GROUP BY st.StoreKey, p.ProductName;
#4Find the exchange rate for a specific date and currency
SELECT Exchange
FROM exchange_rates
WHERE Date = '1/1/2015' AND Currency = 'EUR';
#5
SELECT st.StoreKey, AVG(s.Quantity) AS Average_Order_Size
FROM sales s
JOIN store st ON s.StoreKey = st.StoreKey
GROUP BY st.StoreKey;
# 6Get the total number of sales for each currency
 
SELECT s.CurrencyCode, SUM(s.Quantity) AS Total_Sales
FROM sales s
GROUP BY s.CurrencyCode;


#7Get the number of sales for a specific product by year
SELECT EXTRACT(YEAR FROM s.OrderDate) AS Year, SUM(s.Quantity) AS Total_Sales
FROM sales s
JOIN products p ON s.ProductKey = p.ProductKey
WHERE p.ProductName = 'Contoso 512MB MP3 Player E51 Silver'
GROUP BY Year;
#8
SELECT EXTRACT(MONTH FROM s.OrderDate) AS Month, SUM(s.Quantity) AS Total_Quantity
FROM sales s
GROUP BY Month;

#. 9Get customers who have purchased in more than 5 stores
 SELECT c.Name, COUNT(DISTINCT s.StoreKey) AS Store_Count
FROM sales s
JOIN customer c ON s.CustomerKey = c.CustomerKey
GROUP BY c.Name
HAVING COUNT(DISTINCT s.StoreKey) > 5;

#10 Get the total quantity of products sold per month
SELECT EXTRACT(MONTH FROM s.OrderDate) AS Month, SUM(s.Quantity) AS Total_Quantity
FROM sales s
GROUP BY Month;

#11. Get products that have not been sold
SELECT p.ProductName
FROM products p
LEFT JOIN sales s ON p.ProductKey = s.ProductKey
WHERE s.OrderNumber IS NULL;